<p>{{ data.question }}</p>
<div [innerHTML]="data.attachment"></div>

<label class="mb-0">Keterangan</label>
<p class="mt-0">
  <small>{{ data.notes == "" ? "Tidak ada keterangan." : data.notes }}</small>
</p>

<form [formGroup]="formGroup" (ngSubmit)="submitAnswer()">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Answer</mat-label>
    <textarea formControlName="answer" rows="10" matInput></textarea>
  </mat-form-field>

  <button class="answer-button" [disabled]="!formGroup.valid || isSubmitting">
    Answer
  </button>
</form>
