<h2 mat-dialog-title>Tambah Pengalaman Kerja</h2>
<mat-dialog-content>
  <form [formGroup]="experienceFormGroup">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Diisukan oleh</mat-label>
      <input matInput formControlName="issuer" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nama Sertifikasi</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Deskripsi</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Tahun penerbitan</mat-label>
      <input type="number" formControlName="year" matInput />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="submit()"
    [disabled]="!experienceFormGroup.valid"
  >
    Submit
  </button>
</mat-dialog-actions>
