<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12 col-12">
      <div class="w-100 text-center">
        <mat-icon>check</mat-icon>
      </div>
      <h1 class="text-center">Test submitted successfully</h1>
      <p>
        Terima kasih atas partisipasi bapak / ibu dalam ujian ini. Mohon cek
        <i>Whatsapp</i> kalian apabila kalian dipanggil untuk proses
        selanjutnya. Klik tombol kembali untuk kembali ke halaman utama.
      </p>

      <button routerLink="/">Kembali</button>
    </div>
  </div>
</div>
