<div class="container">
  <div class="row">
    <div class="col-12" style="margin-bottom: 120px">
      <h2 id="motto-text">Test</h2>
      <div class="progress-bar">
        <div class="bar" [style.width]="progress"></div>
      </div>
      <mat-card
        *ngFor="let question of questions; index as i"
        class="mb-2"
        (click)="openQuestion(i)"
      >
        <mat-card-content>
          <p>{{ question.question }}</p>
          <div class="tag">
            <div class="type-chip">
              {{
                question.type == "civil"
                  ? "Civil Engineering"
                  : question.type == "geo"
                  ? "Geotechnical Engineering"
                  : "Drawing"
              }}
            </div>

            <div
              class="status-chip"
              [class.submitted]="
                question.answer != null ||
                (question.files && question.files.length > 0)
              "
            >
              <span
                *ngIf="
                  question.answer != null ||
                  (question.files && question.files.length > 0)
                "
                >&#x2713;</span
              >{{
                question.answer != null ||
                (question.files && question.files.length > 0)
                  ? "Submitted"
                  : "Not submitted"
              }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-timer
  [end]="endTime"
  *ngIf="endTime != null"
  (onSubmit)="openConfirmation()"
></app-timer>
