<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <strong>Pertanyaan #{{ index + 1 }}</strong>
      </p>
      <p class="mb-4">{{ data.question }}</p>
      <p class="mb-4">{{ data.notes }}</p>

      <div [innerHtml]="data.attachment" *ngIf="data.attachment != null"></div>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Answer</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <input
        class="form-control mb-3 w-100"
        type="file"
        *ngIf="data.type == 'drawing'"
        accept=".pdf"
        (change)="onFileChange($event)"
      />

      <button
        class="button previous me-3"
        *ngIf="index > 0"
        (click)="previousQuestion()"
      >
        Previous
      </button>
      <button class="button" (click)="nextQuestion()">
        <span *ngIf="index < length - 1">Next</span>
        <span *ngIf="index == length - 1">Submit</span>
      </button>
    </div>
  </div>
</div>
